* {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.heading {
    color: rgb(50, 50, 124);
    text-align: center;
    padding-top: 56px;
}

/* #Time_Table_Heading{
    font-size: xx-large;
        padding-top: 38px;
} */
#Time_Table_Heading {
    font-size: xx-large;
    padding-top: 38px;
    color: white;
}

.timeTable {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    text-align: center;
    font-size: larger;
    margin: auto;
    width: auto;
}

p {
    text-align: center;
    padding-top: 43px;
    padding-bottom: 29px;
}

.images {
    width: 140px;
}

.foot {
    color: white;
    text-align: center;
}